*{margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
}


.main_container{
    height: 50vh;
}

.box_container{
    background-color: white;
    padding: 3rem 3rem;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
    

}


.width{
    width: 40%;
}
.width_100{
    width: 100%;
}
.d-flex{
    display: flex;
   
}

.d-flex_column{
    display: flex;
    flex-direction: column;
}
.justify_center{
    justify-content: center;
} 
.justify_space{
    justify-content: space-evenly;
}

.align_center{
    align-items: center;
}




.ops, .welcome{font-size:5rem;
    font-weight: bold;
display: block;
color: grey;
}
.wrong_email{
    font-size:1.5rem;
    color: grey
}

.emoji_sad, .emoji_happy{
    margin-left: 10rem;
    font-size: 5rem;
}
.check_email{
    display: block;
    font-size: .8rem;
    color: rgb(155, 155, 155);
    letter-spacing: 1px;
    margin-top: 2rem;
}



/* dice game */
.emoji_battle{
    font-size: 3rem;
    margin: 2.5rem 0;
}

.vs{
    font-size: 2rem;
    color: grey;
    font-weight: bold;
    text-shadow: -1px 1px 0px grey,
    -2px 2px 0px grey,
    -3px 3px 0px grey,
    -4px 4px 0px grey,
    -5px 5px 0px grey,
    -6px 6px 0px grey,
    -7px 7px 0px grey,
    -8px 8px 0px grey,
    -9px 9px 0px grey,
    -10px 10px 0px grey;
                 
    transform: skew(0deg, 356deg);
     line-height: 5.2rem;
     font-family: 'Work Sans', sans-serif;
     color: rgb(224, 224, 224);
}
.user>p:first-child,
.bot>p:first-child{
    font-size: 2rem ;
    letter-spacing: 2px;
    font-weight: 800;
    color: grey;
    text-transform: uppercase;
}
.number{
    color: rgb(165, 164, 164);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#userNumber, #botNumber{
    font-weight: 800;
    color: grey;
    margin-top: .3rem;
    font-size: 2rem;
}